<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stat.PCA </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="spin.js"></script>
  <script type="text/javascript" src="spinner.js"></script>
  <script type="text/javascript" src="opencpu-0.5.js"></script>
  <script type="text/javascript" src="WCMC.Stat.PCA.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="sb-admin-2.min.css" rel="stylesheet">
  <link href="font-awesome.css" rel="stylesheet">
  <link href="WCMC.Stat.PCA.css" rel="stylesheet">
</head>

<body ng-controller="ctr">

  <div >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PCA: Heatmap and dendrogram.</a>
        </div>
    </nav>


    <div>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
        <!-- /.row -->
        <!-- Main content -->

		<div class="row"> <!-- Data File Input -->
          <div class="col-lg-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#input" href="#">Input</a></h3>
              </div>
              <div id="input" class="panel-body collapse in">
                <form role="form">
                  <div class="form-group">
                    <textarea class="form-control" id="rawinput" name="txtinput" rows="5" placeholder = "paste your input here."></textarea>
                    <span for="rawinput"><a href="sample.txt" target="_blank"> Example Data File </a></span><a href="instruction.png" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="format explaination"><i class="fa fa-question-circle"></i></a>&nbsp;<a href="template.xlsx" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="download format"><i class="fa fa-download"></i></a>&nbsp;<a href="instruction2.png" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Be Careful!"><i class="fa fa-exclamation-circle"></i></a>
                    <p></p>
              </div>
                 </form> <!-- /.row -->
                <form role = "form">
                  <div class="form-group">
                      <label>X axis:</label>
                      <select class="form-control" ng-model="xaxis">
                          <option value="1">PC1</option>
                          <option value="2">PC2</option>
                          <option value="3">PC3</option>
                          <option value="4">PC4</option>
                          <option value="5">PC5</option>
                          <option value="6">PC6</option>
                          <option value="7">PC7</option>
                          <option value="8">PC8</option>
                          <option value="9">PC9</option>
                          <option value="10">PC10</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Y axis:</label>
                      <select class="form-control" ng-model="yaxis">
                          <option value="1">PC1</option>
                          <option value="2">PC2</option>
                          <option value="3">PC3</option>
                          <option value="4">PC4</option>
                          <option value="5">PC5</option>
                          <option value="6">PC6</option>
                          <option value="7">PC7</option>
                          <option value="8">PC8</option>
                          <option value="9">PC9</option>
                          <option value="10">PC10</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Color the sample labels by:</label>
                      <select class="form-control" ng-model="row_col">
                          <option value="none">none</option>
                          <option ng-repeat='colname_p in colnames_p' value="{{colname_p}}">{{colname_p}}</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label>Preprocessing: </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" ng-model="center">center
                      </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" ng-model="scale">scale
                      </label>
                  </div>
                </form>

                <p></p>
                <button id="compute" type="button" class="btn btn-primary">Run</button>
              </div>
            </div>
          </div>
        </div>


		<div class="row"> <!-- Output -->
          <div class="col-lg-12">
            <div class="panel panel-success">
              <div class="panel-heading" >
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#output" href="#" class="collapsed" id="outputpanelheader">Output</a></h3>
              </div>
              <div id="output" class="panel-body collapse">
                <div id='text'>No output yet.</div>
                <div id='realOutput'>
                  <div class="form-group">
                    <label>plot: </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="Score" checked="" ng-model="plotType">Score Plot</label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="Scree" ng-model="plotType">Scree Plot
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="Loadings" ng-model="plotType">Loadings Plot
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline4" value="Contribution" ng-model="plotType">Contribution
                    </label>
                </div>
                <div ng-show="plotType=='Score'">
                  Score
                  <img src="{{session}}files/ScorePlot.png" alt="Description"/>
                </div>
                <div ng-show="plotType=='Scree'">
                  Scree
                  <img src="{{session}}files/ScreePlot.png" alt="Description"/>
                </div>
                <div ng-show="plotType=='Loadings'">
                  Loadings
                  <img src="{{session}}files/Contributer.png" alt="Description"/>
                </div>
                <div ng-show="plotType=='Contribution'">
                  Contribution
                  <img src="{{session}}files/ContributerSingleDim.png" alt="Description"/>
                  <div class="form-group">
                      <label>Number of variables used: </label>
                      <input class="form-control" ng-model="num_of_var" type='number'>
                  </div>
                  <div class="form-group">
                      <label>Principal Component: </label>
                      <select class="form-control" ng-model="contribute_axes">
                          <option value="1">PC1</option>
                          <option value="2">PC2</option>
                          <option value="3">PC3</option>
                          <option value="4">PC4</option>
                          <option value="5">PC5</option>
                          <option value="6">PC6</option>
                          <option value="7">PC7</option>
                          <option value="8">PC8</option>
                          <option value="9">PC9</option>
                          <option value="10">PC10</option> </select>
                  </div>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>

		<div class="row"> <!-- Instructions -->
          <div class="col-lg-12">
            <div class="panel panel-warning">
              <div class="panel-heading" >
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#instrtuction" href="#" class="collapsed">Instruction</a></h3>
              </div>
              <div id="instrtuction" class="panel-body collapse">
                <p>NA</p>
<button type="button" class="btn btn-primary btn-circle" id="codeToggle"><b>R</b></button>
<div class="well well-sm" id='code' style="display:none;">
<pre><code>mainApp = function(input,

                   distance_method = "euclidean",
                   minkowski_p = NULL, # only used when minkowski is used.
                   cluster_method = "complete",

                   scale_feature = T,
                   scale_sample = T,

                   row_col = "none",
                   row_branchColorNumber = 1,

                   col_col = "none",
                   col_branchColorNumber = 1
                   ){
  library(pacman)
  pacman::p_load(data.table,parallel, dendextend,
                 colorspace,gplots,stringr,RColorBrewer,mvtnorm)

  data. = WCMC.Fansly::FiehnLabFormat(input)
  e = data.$e
  f = data.$f
  p = data.$p

  # e = fread("e.csv")[,-1]
  # f = fread("f.csv")[,-1]
  # p = fread("p.csv")[,-1]

  e = as.matrix(e)

  # e = t(apply(e,1,function(x){
  #   x[is.na(x)] = 0.5*min(x,na.rm = T)
  #   return(x)
  # }))

  # get the data_row
  if(scale_feature){
    data_row = scale(t(e))
  }else{
    data_row = t(e)
  }

  rownames(data_row) = p$`sample label`
  d_e = dist(data_row, method = distance_method,p=minkowski_p)
  hc_iris_row = hclust(d_e, method = cluster_method)
  iris_species = rev(levels(as.factor(p[[row_col]])))

  dend_row = as.dendrogram(hc_iris_row)
  # order it the closest we can to the order of the observations:
  dend_row = rotate(dend_row, 1:nrow(p))

  # Branch Color
  if(row_branchColorNumber==1){
    dend_row = color_branches(dend_row, k=row_branchColorNumber,col='black')
  }else{
    dend_row = color_branches(dend_row, k=row_branchColorNumber,
                               col=brewer.pal(n=row_branchColorNumber,name="Set1"))
  }
  # Label Color
  labels_colors(dend_row) =
    rainbow_hcl(length(unique(p[[row_col]])))[sort_levels_values(
      as.numeric(as.factor(p[[row_col]]))[order.dendrogram(dend_row)]
    )]


    # Change Label
  if(length(as.character(p[[row_col]]))==0){
    labels(dend_row) = p$`sample label`
  }else{
    labels(dend_row) = paste(as.character(p[[row_col]])[order.dendrogram(dend_row)],
                              "(",p$`sample label`[order.dendrogram(dend_row)],")",
                              sep = "")
  }


  # Hang
  dend_row = hang.dendrogram(dend_row,hang = 0.1)

  # Label Size
  dend_row = set(dend_row, "labels_cex",0.5)

  pdf(file = "Dendrogram_Sample.pdf")
  plot(dend_row,
       main = "Clustered Samples",
       horiz =  TRUE,  nodePar = list(cex = .007))
  # if(!length(iris_species)==0){
  #   legend("topleft", legend = unique(p[[row_col]]), fill = rainbow_hcl(length(unique(p[[row_col]]))))
  # }
  dev.off()

  # Hang back
  dend_row =hang.dendrogram(dend_row,-1)

    # column dend.
  {
    if(scale_sample){
      data_col = scale(as.matrix(e))
    }else{
      data_col = as.matrix(e)
    }

    rownames(data_col) = f[[1]]
    d_e = dist(data_col, method = distance_method)
    hc_iris_col=hclust(d_e, method = cluster_method)
    iris_species = rev(levels(as.factor(p[[col_col]])))

    dend_col= as.dendrogram(hc_iris_col)
    # order it the closest we can to the order of the observations:
    dend_col = rotate(dend_col, 1:nrow(f))

    # Branch Color
    if(col_branchColorNumber==1){
      dend_col = color_branches(dend_col, k=col_branchColorNumber,col='black')
    }else{
      dend_col = color_branches(dend_col, k=col_branchColorNumber,
                                 col=brewer.pal(n=col_branchColorNumber,name="Set1"))
    }

    # Label Color

    labels_colors(dend_col) =
      rainbow_hcl(length(unique(f[[col_col]])))[sort_levels_values(
        as.numeric(as.factor(f[[col_col]]))[order.dendrogram(dend_col)]
      )]




    # Change Label
    if(length(as.character(f[[col_col]]))==0){
      labels(dend_col) = f[[1]][order.dendrogram(dend_col)]
    }else{
      labels(dend_col) = paste(as.character(f[[col_col]])[order.dendrogram(dend_col)],
                                "(",f[[1]][order.dendrogram(dend_col)],")",
                                sep = "")
    }

    # Hang
    # dend_col = hang.dendrogram(dend_col,0.1)

    # Label Size
    dend_col = set(dend_col, "labels_cex", 0.1)


    pdf(file = "Dendrogram_Compound.pdf",height = 14)
    plot(dend_col,
         main = "Clustered On Compounds",
         horiz =  T,  nodePar = list(cex = .007))
    # if(!length(iris_species)==0){
    #   legend("none", legend = iris_species, fill = rainbow_hcl(length(unique(f[[col_col]]))))
    # }
    dev.off()

    # Hang back
    # dend_col = hang.dendrogram(dend_col,-1)
  }




  # HEATMAP
  some_col_func = function(n) rev(colorspace::heat_hcl(n, c = c(80, 30), l = c(30, 90),
                                                        power = c(1/5, 1.5)))
  order.dendrogram(dend_row)= 1:nrow(p)
  order.dendrogram(dend_col)= 1:nrow(f)

  png(filename = "PCA.png",
      width = 3000, height = 800, res = 72)
  gplots::heatmap.2(data_row,
                    main = "A global View of Heatmap",
                    srtCol = 45,
                    dendrogram = "both",
                    Rowv = dend_row,
                    Colv = dend_col, # this to make sure the columns are not ordered
                    trace="none",
                    margins =c(10,10),
                    key.xlab = "sd",
                    denscol = "grey",
                    density.info = "density",
                    RowSideColors = labels_colors(dend_row), # to add nice colored strips
                    ColSideColors = labels_colors(dend_col), # to add nice colored strips
                    col = some_col_func,
                    colRow = labels_colors(dend_row),
                    labRow = labels(dend_row),
                    colCol = labels_colors(dend_col),
                    labCol = labels(dend_col),
                    cexCol = 1,
                    keysize =1
  )
  dev.off()

  cut_row = data.frame(cutree(hc_iris_row,k=row_branchColorNumber))
  colnames(cut_row) = paste0("Cut into ",row_branchColorNumber, " clusters")
  result_row = cbind(p,cut_row)

  cut_col = data.frame(cutree(hc_iris_col,k=col_branchColorNumber))
  colnames(cut_col) = paste0("Cut into ",col_branchColorNumber, " clusters")
  result_col = cbind(f,cut_col)


  fwrite(data.table(result_row),"Dendrogram_row.csv")
  fwrite(data.table(result_row),"Dendrogram_row.txt",sep = "\t")

  fwrite(data.table(result_col),"Dendrogram_col.csv")
  fwrite(data.table(result_col),"Dendrogram_col.txt",sep = "\t")



  zip(zipfile = "HeatMapandDendrogram.zip",files = c("Dendrogram_col.csv",
                                                   "Dendrogram_Compound.pdf",
                                                   "Dendrogram_row.csv",
                                                   "Dendrogram_Sample.pdf",
                                                   "PCA.png"))
  # return(result)


}</code></pre>
                    </div>
              </div>
            </div>
          </div>
        </div>




		<div class="row"> <!-- Citations -->
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#citations" href="#">Citations</a></h3>
            </div>
              <div id="citations" class="panel-body collapse in">
                <p>Wanichthanarak K, Fan S, Grapov D, Barupal DK, Fiehn O (2017) Metabox: A Toolbox for Metabolomic Data Analysis, Interpretation and Integrative Exploration. PLOS ONE 12(1): e0171046. doi: 10.1371/journal.pone.0171046</p>
              </div>
            </div>
          </div>
        </div>


      <!-- notify box -->
        <div id="spinner" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Computing ...</h4>
              <span id="notifyTxt"></span>
            </div>
            <div class="modal-body"><div style="height:200px">
              <span id="loading_spinner" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
            </div></div>
          </div></div>
        </div>
        <!-- /.notify box -->



      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->


</body>





</html>
