<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stat.HeatMap </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="spin.js"></script>
  <script type="text/javascript" src="spinner.js"></script>
  <script type="text/javascript" src="opencpu-0.5.js"></script>
  <script type="text/javascript" src="WCMC.Stat.HeatMap.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="sb-admin-2.min.css" rel="stylesheet">
  <link href="font-awesome.css" rel="stylesheet">
  <link href="WCMC.Stat.HeatMap.css" rel="stylesheet">
</head>

<body ng-controller="ctr">

  <div >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HeatMap: Heatmap and dendrogram.</a>
        </div>
    </nav>


    <div>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
        <!-- /.row -->
        <!-- Main content -->

		<div class="row"> <!-- Data File Input -->
          <div class="col-lg-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#input" href="#">Input</a></h3>
              </div>
              <div id="input" class="panel-body collapse in">
                <form role="form">
                  <div class="form-group">
                    <textarea class="form-control" id="rawinput" name="txtinput" rows="5" placeholder = "paste your input here."></textarea>
                    <span for="rawinput"><a href="sample.txt" target="_blank"> Example Data File </a></span><a href="instruction.png" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="format explaination"><i class="fa fa-question-circle"></i></a>&nbsp;<a href="template.xlsx" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="download format"><i class="fa fa-download"></i></a>
                    <p></p>
              </div>
                 </form> <!-- /.row -->
                <form role = "form">
                  <div class="form-group">
                      <label>Distance Measure:</label>
                      <select class="form-control" ng-model="distance_method">
                          <option value="euclidean">euclidean</option>
                          <option value="manhattan">manhattan</option>
                          <option value="minkowski">minkowski</option>
                          <option value="maximum">maximum</option>
                          <option value="canberra">canberra</option>
                          <option value="binary">binary</option>
                      </select>
                  </div>
                  <div class="form-group" ng-show="distance_method=='minkowski'">
                      <label>The power of the Minkowski distance.</label>
                      <input type = "number" class="form-control" ng-model="minkowski_p">
                      <p class="help-block">Only used for minkowski distance measure.</p>
                  </div>
                  <div class="form-group">
                      <label>Clustering methods:</label>
                      <select class="form-control" ng-model="cluster_method">
                          <option value="complete">complete</option>
                          <option value="average">average</option>
                          <option value="median">median</option>
                          <option value="centroid">centroid</option>
                          <option value="ward.D">ward.D</option>
                          <option value="ward.D2">binary</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Scale: </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" ng-model="scale_sample">samples
                      </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" ng-model="scale_feature">features
                      </label>
                  </div>
                  <div class="form-group">
                      <label>Color the sample labels by:</label>
                      <select class="form-control" ng-model="row_col">
                          <option value="none">none</option>
                          <option ng-repeat='colname_p in colnames_p' value="{{colname_p}}">{{colname_p}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Color the feature labels by:</label>
                      <select class="form-control" ng-model="col_col">
                          <option value="none">none</option>
                          <option ng-repeat='colname_f in colnames_f' value="{{colname_f}}">{{colname_f}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Number of Sample Clusters:</label>
                      <input type = "number" class="form-control" ng-model="row_branchColorNumber">
                  </div>
                  <div class="form-group">
                      <label>Number of Feature Clusters:</label>
                      <input type = "number" class="form-control" ng-model="col_branchColorNumber">
                  </div>
                </form>

                <p></p>
                <button id="compute" type="button" class="btn btn-primary">Run</button>
              </div>
            </div>
          </div>
        </div>


		<div class="row"> <!-- Output -->
          <div class="col-lg-12">
            <div class="panel panel-success">
              <div class="panel-heading" >
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#output" href="#" class="collapsed" id="outputpanelheader">Output</a></h3>
              </div>
              <div id="output" class="panel-body collapse">
                No output yet.
              </div>
            </div>
          </div>
        </div>

		<div class="row"> <!-- Instructions -->
          <div class="col-lg-12">
            <div class="panel panel-warning">
              <div class="panel-heading" >
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#instrtuction" href="#" class="collapsed">Instruction</a></h3>
              </div>
              <div id="instrtuction" class="panel-body collapse">
                <p>Normalisation of data to minimise the impact of technical variation on comparative sample analysis is often carried out. Usually we assume that the sum (or median, mean) of the intensity across all the compound of each sample should stay consistant. Thus the sum (or median, mean) value can be an approximate quantitative index of how much the machine influence each sample. Sample specific normalization normalize each sample to its index (i.e. sum, median or mean). The equation follows the same pattern,</p>
                <img src="HeatMap equation.PNG"><span>, where <em>i</em> indicates samples and &omega; is the weight of each sample, which is calculated by (using sum as an example),</span>
                <img src="sum.PNG">
                <p>Also, user could define their own &omega; (e.g. volumn) using the <code>custom weight</code> option. User have to justify the logic of the weight. An example of &quot;custom weight&quot; sample specific normalization is <a href="http://www.sciencedirect.com/science/article/pii/S157002320900021X" target="_blank">here</a>.</p>
<button type="button" class="btn btn-primary btn-circle" id="codeToggle"><b>R</b></button>
<div class="well well-sm" id='code' style="display:none;">
<pre><code>mainApp = function(p){
  library(pacman)
  pacman::p_load(data.table,parallel,userfriendlyscience,ez)
  # read.data
  {
    input = gsub("\r","",input)
    cfile = strsplit(input,"\n")[[1]]

    ts = sapply(regmatches(cfile, gregexpr("\t", cfile)),length)
    t.mode = unique(ts)[which.max(tabulate(match(ts, unique(ts))))]
    ts.first.row = ts[1]
    cfile[[1]] = paste0(paste0(rep('\t',t.mode-ts.first.row),collapse = ''),cfile[[1]],collapse = '')


    df1 = as.data.frame(do.call(rbind,lapply(cfile,function(x){strsplit(x,"\t")[[1]]})),stringsAsFactors = F)

    if(t.mode==ts.first.row){
      col_start = which(diff(as.character(df1[1,])=='')==-1) + 1
    }else{
      col_start = t.mode-ts.first.row + 1
    }
    row_start = which(diff(df1[,1]=='')==-1) + 1
    if(length(row_start)==0 & col_start ==1){
      row_start = 1
    }else if(length(row_start)==0){
      stop("There is an error in the input format. Please click the '!' icon (next to 'Example Data File') for more information.")
    }

    p = t(df1[1:(row_start-1),col_start:ncol(df1)])
    colnames(p) = p[1,]
    p = cbind(data.frame("sample index" = c(1,as.character(df1[row_start,(col_start+1):ncol(df1)])),check.names = FALSE,
                         stringsAsFactors = F),
              p,stringsAsFactors=F)[-1,]

    rownames(p) = df1[row_start,(col_start+1):ncol(df1)]
    p = data.frame(p,stringsAsFactors = F,check.names = F)
    # write.csv(p,"p.csv")

    f = df1[row_start:nrow(df1),1:col_start]

    if(class(f) == "character"){ #in case there is only one column of feature index.
      name.temp = f[1]
      f = data.frame(f[-1])
      colnames(f) = name.temp
    }else{
      colnames(f) = f[1,]
      f = f[-1,]
    }
    rownames(f) = 1:nrow(f)

    # write.csv(f,"f.csv")

    e = df1[(row_start+1):nrow(df1),(col_start+1):ncol(df1)]
    e = apply(e,2,as.numeric)
    colnames(e) = rownames(p)
    rownames(e) = rownames(f)
  }

  multicore = T
  if(multicore){
    cl = makeCluster(min(detectCores(),8))
  }else{
    cl = makeCluster(1)
  }

  ID = colnames(p)[2]
  group1=colnames(p)[3]
  group2=colnames(p)[4]
  interaction = parSapply(cl,1:nrow(e),function(j,e,p,group1,group2,ezANOVA,ID){
    ezANOVA(data = data.frame(value=e[j,],var1=p[[group1]],var2=p[[group2]],id=as.factor(p[[ID]])),
            dv = value, wid = id, between = .(var1),within = .(var2), type = 3)$`Sphericity Corrections`[2,"p[GG]"]
  },e,p,group1,group2,ezANOVA,ID)

  colnames_f_1 = colnames(f)[1]
  f = f[,!sapply(f,function(x){sum(x=='')==length(x)})]

  result = data.table(f,twowaymixedANOVApvalue = interaction)
  rownames(result) = 1:nrow(result)
  if(class(f)=="character"){
    colnames(result) = c(colnames_f_1,"twowaymixedANOVApvalue")
  }else{
    colnames(result) = c(colnames(f),"twowaymixedANOVApvalue")
  }

  fwrite(data.table(result),"HeatMap.csv")
  fwrite(data.table(result),"HeatMap.txt",sep = "\t")


  stopCluster(cl)

  return(result)


}</code></pre>
                    </div>
              </div>
            </div>
          </div>
        </div>




		<div class="row"> <!-- Citations -->
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#citations" href="#">Citations</a></h3>
            </div>
              <div id="citations" class="panel-body collapse in">
                <p>NA</p>
              </div>
            </div>
          </div>
        </div>


      <!-- notify box -->
        <div id="spinner" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Computing ...</h4>
              <span id="notifyTxt"></span>
            </div>
            <div class="modal-body"><div style="height:200px">
              <span id="loading_spinner" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
            </div></div>
          </div></div>
        </div>
        <!-- /.notify box -->



      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->


</body>





</html>
