<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stat.Boxplot </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="spin.js"></script>
  <script type="text/javascript" src="spinner.js"></script>
  <script type="text/javascript" src="opencpu-0.5.js"></script>
  <script type="text/javascript" src="WCMC.Stat.Boxplot.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="sb-admin-2.min.css" rel="stylesheet">
  <link href="font-awesome.css" rel="stylesheet">
  <link href="WCMC.Stat.Boxplot.css" rel="stylesheet">
</head>

<body ng-controller="ctr">

  <div >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Boxplot: Boxplot and dendrogram.</a>
        </div>
    </nav>


    <div>
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
        <!-- /.row -->
        <!-- Main content -->

		<div class="row"> <!-- Data File Input -->
          <div class="col-lg-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#input" href="#">Input</a></h3>
              </div>
              <div id="input" class="panel-body collapse in">
                <form role="form">
                  <div class="form-group">
                    <textarea class="form-control" id="rawinput" name="txtinput" rows="5" placeholder = "paste your input here."></textarea>
                    <span for="rawinput"><a href="sample.txt" target="_blank"> Example Data File </a></span><a href="instruction.png" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="format explaination"><i class="fa fa-question-circle"></i></a>&nbsp;<a href="template.xlsx" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="download format"><i class="fa fa-download"></i></a>
                    <p></p>
              </div>
                 </form> <!-- /.row -->
                <form role = "form">
                    <div class="form-group">
                      <label>Number Of Factors: </label>
                      <label class="radio-inline">
                          <input type="radio" name="twoway" value="false" ng-model="twoway" ng-click="getFactorOrder()">1
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="twoway" value="true" ng-model="twoway" ng-click="getFactorOrder()">2
                      </label>
                  </div>
                  <div class="form-group">
                      <label>factor 1 order:</label>
                      <input class="form-control" ng-model="factor_order1">
                      <p class="help-block" ng-show="twoway=='false'">Please split by ",". For exampe, "0h,1h,2h".</p>
                  </div>
                  <div class="form-group" ng-show="twoway=='true'">
                      <label>factor 2 order:</label>
                      <input class="form-control" ng-model="factor_order2">
                      <p class="help-block">Please split by ",". For exampe, "0h,1h,2h".</p>
                  </div>

                  <div class="form-group">
                      <label>Displayed single compound:</label>
                      <select class="form-control" ng-model="compoundName">
                          <option ng-repeat='compoundName_ in compoundNames' value="{{compoundName_}}">{{compoundName_}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Jitters: </label>
                      <label class="checkbox-inline">
                          <input type="checkbox" ng-model="jitter">&nbsp;
                      </label><a href="jitters.png" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="what is jitters?"><i class="fa fa-question-circle"></i></a>
                  </div>
                </form>

                <p></p>
                <button id="compute" type="button" class="btn btn-primary">Run</button>
              </div>
            </div>
          </div>
        </div>


		<div class="row"> <!-- Output -->
          <div class="col-lg-12">
            <div class="panel panel-success">
              <div class="panel-heading" >
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#output" href="#" class="collapsed" id="outputpanelheader">Output</a></h3>
              </div>
              <div id="output" class="panel-body collapse">

              <img id="individual_boxplot" ng-show="success" src="{{session}}files/singlePlot.png" style="width:800px;height:600px">

              <div class="form-group" ng-show="success">
                      <label>legend_position</label>
                      <select class="form-control" ng-model="legend_position">
                          <option value="topleft">topleft</option>
                          <option value="bottomright">bottomright</option>
                          <option value="bottom">bottom</option>
                          <option value="bottomleft">bottomleft</option>
                          <option value="left">left</option>
                          <option value="top">top</option>
                          <option value="topright">topright</option>
                          <option value="right">right</option>
                          <option value="center">center</option>
                      </select>
               </div>

                <div class="form-group" ng-show="success">
                    <label>factor 1 colors:</label>
                    <input ng-show="success" type="color" class="boxplotColors" onchange="clickColor(0, -1, -1, 5)" ng-repeat="color in colors" value="{{color}}" style="width:3%;">
                <a href="http://www.color-hex.com/color-palettes/" target="_blank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="color palettes"><i class="fa fa-info-circle"></i></a>
                </div>
              <div id="outputtext">
                No output yet.
              </div>
              <button type='button' ng-show="success" class='btn btn-primary' id='download_all'>Download_all_boxplots</button>

              </div>





            </div>
          </div>
        </div>

		<div class="row"> <!-- Instructions -->
          <div class="col-lg-12">
            <div class="panel panel-warning">
              <div class="panel-heading" >
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#instrtuction" href="#" class="collapsed">Instruction</a></h3>
              </div>
              <div id="instrtuction" class="panel-body collapse">
                <p>NA</p>
<button type="button" class="btn btn-primary btn-circle" id="codeToggle"><b>R</b></button>
<div class="well well-sm" id='code' style="display:none;">
<pre><code>mainApp = function(input,
                   twoway = TRUE,
                   factor_order1 = NULL, factor_order2 = NULL,
                   legend_position = 'topleft',
                   draw_single = T,compoundName = 'zymosterol'){
  library(pacman)
  pacman::p_load(data.table,parallel, ez, userfriendlyscience,dendextend,
                 colorspace,gplots,stringr)

  data. = WCMC.Fansly::MetaboAnalystFormat(input,row_start = ifelse(twoway,3,2))
  e = data.$e
  f = data.$f
  p = data.$p

  p = p[,c(2,3)] # this makes the group1 the first column and the group2 2nd column.

  # e = fread("e.csv")[,-1]
  # f = fread("f.csv")[,-1]
  # p = fread("p.csv")[,-1]

  e = as.matrix(e)

  # e = t(apply(e,1,function(x){
  #   x[is.na(x)] = 0.5*min(x,na.rm = T)
  #   return(x)
  # }))

  if(twoway){
    xlab = paste0(colnames(p)[1], " * " ,colnames(p)[2])
  }else{
    xlab = colnames(p)[1]
  }



  if(twoway){
    if(is.null(factor_order1)||is.na(factor_order1)){
      factor_order1 = unique(p[[1]])
    }else{
      factor_order1 = strsplit(factor_order1, ",")[[1]]
    }
    if(is.null(factor_order2)||is.na(factor_order2)){
      factor_order2 = unique(p[[2]])
    }else{
      factor_order2 = strsplit(factor_order2, ",")[[1]]
    }
    tot.n = length(factor_order1)*length(factor_order2)
    m=1
    at.x = vector()
    for(i in 1:(tot.n+length(factor_order2))){
      if(!(i%%(length(factor_order1)+1)==0)){
        at.x[m] = m
      }
      m=m+1
    }
    at.x = at.x[!is.na(at.x)]
    text.pos.x = seq((tot.n/length(factor_order2)+1)/2,tot.n,by = tot.n/length(factor_order2))
    text.pos.x = text.pos.x + 0:(length(text.pos.x)-1)

    if(draw_single){
      index=which(gsub(" ", "", f[[1]], fixed = TRUE)%in%gsub(" ", "", compoundName, fixed = TRUE))[1]
      oo = index
    }else{
      index=1:nrow(f)
      oo=1
    }

    for(j in index){

      data = data.frame(value = e[j,],group1 = factor(p[[1]],levels = factor_order1), group2 = factor(p[[2]],levels = factor_order2))
      if(!draw_single){
        png(paste0(j,'th_',f[j,1],'.png'), width = 800, height = 600)
      }
      boxplot(value~group1*group2,data = data,notch=FALSE,col=terrain.colors(length(factor_order1)),
              xaxt="n",at = at.x)
      title(main=f[[1]][j], sub=paste0("compound #: ", j),
            xlab=xlab, ylab='intensity')
      axis(1,at = text.pos.x, labels = F)# x axis
      text(x = text.pos.x, par("usr")[3]-0.1, labels = factor_order2, srt = 0, pos = 1, xpd = TRUE)
      if(!legend_position=='none'){
        legend(legend_position,
               factor_order1, fill=terrain.colors(length(factor_order1)))
      }
      if(!draw_single){
        dev.off()
      }
      # oo=oo+1
    }


  }else{
    if(is.null(factor_order1)||is.na(factor_order1)){
      factor_order1 = unique(p[[group1]])
    }else{
      factor_order1 = strsplit(factor_order1, ",")[[1]]
    }

    if(draw_single){
      index=which(gsub(" ", "", f[[1]], fixed = TRUE)%in%gsub(" ", "", compoundName, fixed = TRUE))[1]
      oo = index
    }else{
      index=1:nrow(f)
      oo=1
    }

    for(j in index){
        data = data.frame(value = e[j,],group1 = factor(p[[1]],levels = factor_order1))
        if(!draw_single){
          png(paste0(j,'th_',f[j,1],'.png'), width = 800, height = 600)
        }
        boxplot(value~group1,data = data,notch=FALSE,col=terrain.colors(length(factor_order1)),
                xaxt="n")
        title(main=f[[1]][j], sub=paste0("compound #: ", j),
              xlab=xlab, ylab='intensity')
        axis(1,at = 1:length(factor_order1), labels = F)# x axis
        text(x = 1:length(factor_order1), par("usr")[3]-0.1, labels = factor_order1, srt = 0, pos = 1, xpd = TRUE)
        legend(legend_position,
               factor_order1, fill=terrain.colors(length(factor_order1)))
        if(!draw_single){
          dev.off()
        }
    }

  }


  if(!draw_single){
    zip("Boxplots.zip",files = paste0(1:nrow(f),"th_",f[[1]],".png"))
  }
}</code></pre>
                    </div>
              </div>
            </div>
          </div>
        </div>




		<div class="row"> <!-- Citations -->
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a data-toggle="collapse" data-target="#citations" href="#">Citations</a></h3>
            </div>
              <div id="citations" class="panel-body collapse in">
                <p>NA</p>
              </div>
            </div>
          </div>
        </div>


      <!-- notify box -->
        <div id="spinner" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4>Computing ...</h4>
              <span id="notifyTxt"></span>
            </div>
            <div class="modal-body"><div style="height:200px">
              <span id="loading_spinner" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
            </div></div>
          </div></div>
        </div>
        <!-- /.notify box -->



      </div>
	  <a type="button" class="btn btn-danger" style="position: absolute;left: 50%;" href="https://github.com/slfan2013/WCMC_DA/issues" target="_blank">Bugs or Suggestions</a>
            <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->


</body>





</html>
